*{
    transition: all 0.2s;
    padding: 0px;
    margin: 0px;
}
body{
    background-image: linear-gradient(white,teal);
    background-repeat: no-repeat;
    background-size: 100vw 1000vh;
}
.a{
    border-radius: 5px;
}
.a:hover{   
    box-shadow: 5px 5px 10px black;
    transform: scale(1.2);
}
#header{
    width: 100%;
    height: 520px;
    background-image: url(../ASSET/Images/planets3.webp);
    background-size: 100% 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.b{
    width: 100px;
    height: 100px;
    font-size: 80px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    
}

#l{
    color: white;
    display: flex;
    position: relative;
    right: 40%;
}
#r{    
    color: white;
    display: flex;
    position: relative;
    left: 40%;
}
#galleryImages{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    row-gap: 30px;
    column-gap: 30px;
    z-index: -1;
}
#heading{
    position: absolute;
    left: 5%;
    right: 5%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    text-align: center;
    letter-spacing: 15px;
    word-spacing: 10px;
    text-shadow: 5px 5px 5px black;
}
#subWindow{
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 10vh;
    left: 10vw;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 10px 10px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#subWindowImage{
     width: 40vw;
    height: 350px;
    position: absolute;
    left: 50px;
    border: 1px groove whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 5px white;
}
#close{
    font-size: 30px;
    color: white;
    z-index: 4;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}
#imageHeading{
    position: absolute;
    right: 5vw;
    top: 20vh;
    background-color: yellow;
    color: black;
    box-shadow: 5px 5px 5px white;
    font-size: 40px;
}
#imgpara{
    position: absolute;
    right: 5vw;
    top: 30vh;
    color: white;
    width: 24vw;
    text-align: justify;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
